# dependencies
node_modules/
server/node_modules/
client/node_modules/

# package locks (optional but usually keep them)
# package-lock.json

# environment variables
.env
.env.*
server/.env
client/.env

# build folders
build/
dist/
client/build/

# testing
coverage/

# cache
.cache/
.pnp
.pnp.js

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# misc
.vscode/
.idea/